<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header-container">
        <h1>Manage Orders</h1>
        <a href="{{ url_for('logout') }}"><button style="background-color: rgb(224, 31, 31);">Logout</button></a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Items</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Update Status</th>
                <th>Confirm Update</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user_name }}</td>
                <td>
                    <ol>
                        {% for item in order.myitems.split(',') %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>${{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <form action="/admin_dashboard" method="post">
                    <td>
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <select name="status" class="status-select">
                            <option value = "Yet to Ship">Yet to Ship</option>
                            <option value = "Shipped">Shipped</option>
                            <option value = "Delivered">Delivered</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit">Update</button>
                    </td>
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>