<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshBasket</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>FreshBasket</h1>
            <br>
            <div>
                <a href="{{ url_for('register') }}"><button>Register</button></a>
                <a href="{{ url_for('login') }}"><button>Login</button></a>
            </div>
        </div>
    </header>
    <main>
        <section class="main-container">
            <h2>Welcome to FreshBasket</h2>
            <p>Your Go-To for Premium Fruits & Veggies</p>
            <img src="/static/img/img01.jpg" style="width: 100%; height: auto;" alt="Basket of Fruits and Vegetables">
        </section>
    </main>
</body>
</html>
