<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshPick Fruits & Vegetables</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-right">
                FreshPick Fruits & Vegetables
            </div>
            <div class="header-left">
                <a href="/cart"><button>Go to Cart</button></a>
                <a href="/user_dashboard"><button>User Dashboard</button></a>
                <a href="/logout"><button style="background-color: rgb(224, 31, 31);">Logout</button></a>
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="grid-container">
            {% for item in items %}
            <div class="card">
                <img src="{{ url_for('static', filename='img/' + item.item_name + '.jpg') }}" alt="{{ item.item_name }}">
                <h3>{{ item.item_name }}</h3>
                <p class="price">${{ '%.2f' | format(item.price) }}</p>
                <form action="/items" method="POST">
                    <input type="hidden" name="item_id" value="{{ item.item_id }}">
                    <input type="hidden" name="name" value="{{ item.item_name }}">
                    <input type="hidden" name="price" value="{{ '%.2f' | format(item.price) }}">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</body>
</html>